body{
    background-color: #000000;
    text-align : center;
    margin-top : 3%;
    padding : auto;
    overflow-x: hidden;
}
img{
    display : block;
    width : 20%;
    margin : 10px auto;
}

button{
    width : 200px;
    height : 50px;
    color : white;
    font-size: 2rem;
    margin-top : 40px;
    border : 1px solid white;
    
}
h1{
    color : white;
    font-size: 2rem;
    display : inline;
}
#stopwatch{
    margin: 4% ;
}
#mainheading{
    font-size: 3rem;
    color : cyan;
    
}
p{
    color : white; 
    display : inline;
    margin-left: 1.5%;
}
#Start{
    background-image: linear-gradient(green,darkgreen)
}
#clear{
    background-image: linear-gradient(red,maroon)
}
#continue{
    background-image: linear-gradient(lightblue,blue);
    
}
#pause{
    background-image: linear-gradient(	#FF69B4,#FF1493)
}
@media only screen and (max-width: 600px) {
    img{
        width : 50%
    }
    p{
        margin-left : 5%;
    }
}